<div style="margin: 20px;">

    <h1> CATALOGO DE LIBROS</h1>

    <h4> Alta de libros </h4>

    <div class="card shadow-lg p-4 mt-4">
        <h4 class="text-center text-secondary">Alta de Libros</h4>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label fw-bold">Título</label>
                <input type="text" class="form-control" [(ngModel)]="libro.titulo" placeholder="Ingrese el título">
            </div>
            <div class="col-md-6">
                <label class="form-label fw-bold">Autor</label>
                <input type="text" class="form-control" [(ngModel)]="libro.autor" placeholder="Ingrese el autor">
            </div>
            <div class="col-md-6">
                <label class="form-label fw-bold">Editorial</label>
                <input type="text" class="form-control" [(ngModel)]="libro.editorial" placeholder="Ingrese la editorial">
            </div>
            <div class="col-md-6">
                <label class="form-label fw-bold">Año de Publicación</label>
                <input type="number" class="form-control" [(ngModel)]="libro.anio" placeholder="Ingrese el año">
            </div>
        </div>
    <table>
        <tr>
            <td>
                <button type="button" class="btn btn-primary"
                (click)="this.insertLibro()">Insertar</button>
            </td>
            <td>
                <button type="button" class="btn btn-warning"
                (click)="this.updateLibro()">Actualizar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger"
                (click)="this.deleteLibro()">Eliminar</button>
            </td>
        </tr>
    </table>
   <hr />
   <p></p>
   <h4> Listado de Libros</h4>
   <table class="table">
    <thead>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Editorial</th>
        <th>aniodepublicacion</th>
        <th>Seleccionar</th>
    </thead>
    <tbody>
        @for(libro of libros; track libro.id){
            <tr>
                <td>{{libro.titulo}}</td>
                <td>{{libro.autor}}</td>
                <td>{{libro.editorial}}</td>
                <td>{{libro.anio}}</td>
            <td>
                <button type="button" class="btn btn-success"
                (click)="selectLibro(libro)">Seleccionar</button>
            </td>
            </tr>
        }
    </tbody>
   </table>
</div>

